

@media screen and (max-width: 320px) {
    .intro-content h1 > span:first-child {
	font-weight: 300;
	font-size: 50%;
}

	.intro-content h1 > span:nth-child(2) {
	position: relative;
	
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 50%;
}


	.sth{
    position: relative;
    left:-280px;
    background-color:#47a3da ;
    height: 500px;
    
    
}
	.sth1{
    
    position: relative;
    right:203px;
    bottom: 2px;
    background:white;
    height: 500px;
    
}
.kip1{
    
    display: block;
	position: relative;
	bottom: 6px;
	right: 6px;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	

}
}