

@media screen and (max-width: 320px) {
    .intro-content h1 > span:first-child {
	font-weight: 300;
	font-size: 50%;
}

	.intro-content h1 > span:nth-child(2) {
	position: relative;
	
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 50%;
}


	.sth{
    position: relative;
    left:-280px;
    background-color:#47a3da ;
    height: 500px;
    
    
}
	.sth1{
    
    position: relative;
    right:203px;
    bottom: 2px;
    background:white;
    height: 500px;
    
}
.kip1{
    
    display: block;
	position: relative;
	bottom: 6px;
	right: 6px;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	

}

.timeline:before{left:-15px;}

.timeline>li{margin-bottom:30px;min-height:100px; line-height: 3px;}
.timeline>li .timeline-panel{width:70%;float:right;padding:0 0px 0px 0px;text-align:left;line-height: 3px;}
.timeline>li .timeline-image{left:-40px;
	margin-left:0;
	width:50px;
	height:50px;
	position:absolute;
	z-index:100;
	background-color:#fed136;
	color:#fff;
	border-radius:100%;
	border:4px solid #f1f1f1;
	text-align:center}
.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:40px}


.timeline-body1{
    width: 200px;
    position: absolute;
    right: -21px;
    font-size: 10px;
}
.change2{
	border: 0px;
    line-height: 3px;
    font-size: 10px;
    padding-left: 0px;
    margin-left: 0px;
    width: 300px;
}


 

.timeline-body2{
    width: 200px;
    position: absolute;
    left: -38px;
    
}
.change12{
    position: relative;
    left: -140px;
    
    font-size: 15px;
    text-transform: none;
    text-align: left;
}
body{
	line-height: 15px;
}

.social{
	width: 200px;
	position: relative;
	right: 39px;
	padding-top: 30px;
}

.copy{
	width: 200px;
	line-height: 5px;

}



.hover08 figure img{
    height: 30px;
    width:  30px;
    border-radius: 50%;
}


#soth1,
#soth2,
#soth3,
#soth4,
#soth5,
#soth6,
#soth7,
#soth12{
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    width: 70px;
    
}

.projects{
    padding-top: 20px;
}
.projay{
    padding-top: 10px;
   
}


}

@media not all and (max-width: 320px)  {
	.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#soth1,
#soth2,
#soth3,
#soth4,
#soth5,
#soth6,
#soth7,
#soth12{
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    -webkit-transition: background-size 2s;
    -moz-transition: background-size 2s;
    -o-transition: background-size 2s;
    transition: background-size 2s;
}
#soth12:hover,
#soth2:hover,
#soth7:hover,
#soth6:hover,
#soth5:hover,
#soth4:hover,
#soth1:hover,
#soth3:hover {
    background-size: 120%;
    -webkit-transition: background-size 2s;
    -moz-transition: background-size 2s;
    -o-transition: background-size 2s;
    transition: background-size 2s;
}

}






@media screen and (max-width: 360px) and (min-width : 321px){
    .intro-content h1 > span:first-child {
	font-weight: 300;
	font-size: 50%;
}

	.intro-content h1 > span:nth-child(2) {
	position: relative;
	
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 50%;
}


	.sth{
    position: relative;
    left:-242px;
    background-color:#47a3da ;
    height: 500px;
    
    
}
	.sth1{
    
    position: relative;
    right:203px;
    bottom: 2px;
    background:white;
    height: 500px;
    
}
.kip1{
    
    display: block;
	position: relative;
	bottom: 6px;
	right: 6px;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	

}

.timeline:before{left:-15px;}

.timeline>li{margin-bottom:30px;min-height:100px; line-height: 3px;}
.timeline>li .timeline-panel{width:70%;float:right;padding:0 0px 0px 0px;text-align:left;line-height: 3px;}
.timeline>li .timeline-image{left:-40px;
	margin-left:0;
	width:50px;
	height:50px;
	position:absolute;
	z-index:100;
	background-color:#fed136;
	color:#fff;
	border-radius:100%;
	border:4px solid #f1f1f1;
	text-align:center}
.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:40px}


.timeline-body1{
    width: 200px;
    position: absolute;
    right: -0px;
    font-size: 10px;
}
.change2{
	border: 0px;
    line-height: 3px;
    font-size: 10px;
    padding-left: 0px;
    margin-left: 0px;
    width: 300px;
}


 

.timeline-body2{
    width: 200px;
    position: absolute;
    left: -38px;
    
}
.change12{
    position: relative;
    left: -140px;
    
    font-size: 15px;
    text-transform: none;
    text-align: left;
}
body{
	line-height: 15px;
}

.social{
	width: 200px;
	position: relative;
	right: 39px;
	padding-top: 30px;
}

.copy{
	width: 200px;
	line-height: 5px;

}



.hover08 figure img{
    height: 30px;
    width:  30px;
    border-radius: 50%;
}


#soth1,
#soth2,
#soth3,
#soth4,
#soth5,
#soth6,
#soth7,
#soth12{
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    width: 70px;
    
}

.projects{
    padding-top: 20px;
}
.projay{
    padding-top: 10px;
   
}


}


@media screen and (max-width: 375px) and (min-width : 361px){
    .intro-content h1 > span:first-child {
	font-weight: 300;
	font-size: 50%;
}

	.intro-content h1 > span:nth-child(2) {
	position: relative;
	
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 50%;
}


	.sth{
    position: relative;
    left:-227px;
    background-color:#47a3da ;
    height: 500px;
    
    
}
	.sth1{
    
    position: relative;
    right:202px;
    bottom: 2px;
    background:white;
    height: 500px;
    
}
.kip1{
    
    display: block;
	position: relative;
	bottom: 5px;
	right: 6px;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	

}

.timeline:before{left:-15px;}

.timeline>li{margin-bottom:30px;min-height:100px; line-height: 3px;}
.timeline>li .timeline-panel{width:70%;float:right;padding:0 0px 0px 0px;text-align:left;line-height: 3px;}
.timeline>li .timeline-image{left:-40px;
	margin-left:0;
	width:50px;
	height:50px;
	position:absolute;
	z-index:100;
	background-color:#fed136;
	color:#fff;
	border-radius:100%;
	border:4px solid #f1f1f1;
	text-align:center}
.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:40px}


.timeline-body1{
    width: 200px;
    position: absolute;
    right: 10px;
    font-size: 10px;
}
.change2{
	border: 0px;
    line-height: 3px;
    font-size: 10px;
    padding-left: 0px;
    margin-left: 0px;
    width: 300px;
}


 

.timeline-body2{
    width: 200px;
    position: absolute;
    left: -38px;
    
}
.change12{
    position: relative;
    left: -140px;
    
    font-size: 15px;
    text-transform: none;
    text-align: left;
}
body{
	line-height: 15px;
}

.social{
	width: 200px;
	position: relative;
	right: 39px;
	padding-top: 30px;
}

.copy{
	width: 200px;
	line-height: 5px;

}



.hover08 figure img{
    height: 30px;
    width:  30px;
    border-radius: 50%;
}


#soth1,
#soth2,
#soth3,
#soth4,
#soth5,
#soth6,
#soth7,
#soth12{
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    width: 70px;
    
}

.projects{
    padding-top: 20px;
}
.projay{
    padding-top: 10px;
   
}


}









@media screen and (max-width: 412px) and (min-width : 376px){
    .intro-content h1 > span:first-child {
	font-weight: 300;
	font-size: 50%;
}

	.intro-content h1 > span:nth-child(2) {
	position: relative;
	
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 50%;
}


	.sth{
    position: relative;
    left:-190px;
    background-color:#47a3da ;
    height: 500px;
    
    
}
	.sth1{
    
    position: relative;
    right:203px;
    bottom: 2px;
    background:white;
    height: 500px;
    
}
.kip1{
    
    display: block;
	position: relative;
	bottom: 6px;
	right: 6px;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	

}

.timeline:before{left:-15px;}

.timeline>li{margin-bottom:30px;min-height:100px; line-height: 3px;}
.timeline>li .timeline-panel{width:70%;float:right;padding:0 0px 0px 0px;text-align:left;line-height: 3px;}
.timeline>li .timeline-image{left:-40px;
	margin-left:0;
	width:50px;
	height:50px;
	position:absolute;
	z-index:100;
	background-color:#fed136;
	color:#fff;
	border-radius:100%;
	border:4px solid #f1f1f1;
	text-align:center}
.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:40px}


.timeline-body1{
    width: 200px;
    position: absolute;
    right: 33px;
    font-size: 10px;
}
.change2{
	border: 0px;
    line-height: 3px;
    font-size: 10px;
    padding-left: 0px;
    margin-left: 0px;
    width: 300px;
}


 

.timeline-body2{
    width: 200px;
    position: absolute;
    left: -38px;
    
}
.change12{
    position: relative;
    left: -140px;
    
    font-size: 15px;
    text-transform: none;
    text-align: left;
}
body{
	line-height: 15px;
}

.social{
	width: 200px;
	position: relative;
	right: 39px;
	padding-top: 30px;
}

.copy{
	width: 200px;
	line-height: 5px;

}



.hover08 figure img{
    height: 30px;
    width:  30px;
    border-radius: 50%;
}


#soth1,
#soth2,
#soth3,
#soth4,
#soth5,
#soth6,
#soth7,
#soth12{
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    width: 70px;
    
}

.projects{
    padding-top: 20px;
}
.projay{
    padding-top: 10px;
   
}


}


@media screen and (max-width: 414px) and (min-width : 413px){
    .intro-content h1 > span:first-child {
	font-weight: 300;
	font-size: 50%;
}

	.intro-content h1 > span:nth-child(2) {
	position: relative;
	
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 50%;
}


	.sth{
    position: relative;
    left:-190px;
    background-color:#47a3da ;
    height: 500px;
    
    
}
	.sth1{
    
    position: relative;
    right:203px;
    bottom: 2px;
    background:white;
    height: 500px;
    
}
.kip1{
    
    display: block;
	position: relative;
	bottom: 3px;
	right: 6px;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	

}

.timeline:before{left:-15px;}

.timeline>li{margin-bottom:30px;min-height:100px; line-height: 3px;}
.timeline>li .timeline-panel{width:70%;float:right;padding:0 0px 0px 0px;text-align:left;line-height: 3px;}
.timeline>li .timeline-image{left:-40px;
	margin-left:0;
	width:50px;
	height:50px;
	position:absolute;
	z-index:100;
	background-color:#fed136;
	color:#fff;
	border-radius:100%;
	border:4px solid #f1f1f1;
	text-align:center}
.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:40px}


.timeline-body1{
    width: 200px;
    position: absolute;
    right: 33px;
    font-size: 10px;
}
.change2{
	border: 0px;
    line-height: 3px;
    font-size: 10px;
    padding-left: 0px;
    margin-left: 0px;
    width: 300px;
}


 

.timeline-body2{
    width: 200px;
    position: absolute;
    left: -38px;
    
}
.change12{
    position: relative;
    left: -140px;
    
    font-size: 15px;
    text-transform: none;
    text-align: left;
}
body{
	line-height: 15px;
}

.social{
	width: 200px;
	position: relative;
	right: 39px;
	padding-top: 30px;
}

.copy{
	width: 200px;
	line-height: 5px;

}



.hover08 figure img{
    height: 30px;
    width:  30px;
    border-radius: 50%;
}


#soth1,
#soth2,
#soth3,
#soth4,
#soth5,
#soth6,
#soth7,
#soth12{
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    width: 70px;
    
}

.projects{
    padding-top: 20px;
}
.projay{
    padding-top: 10px;
   
}


}





@media screen and (max-width: 768px) and (min-width : 415px){
    .intro-content h1 > span:first-child {
	font-weight: 300;
	font-size: 50%;
}

	.intro-content h1 > span:nth-child(2) {
	position: relative;
	
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 50%;
}


	.sth{
    position: relative;
    left:-17px;
    background-color:#47a3da ;
    height: 500px;
    
    
}
	.sth1{
    
    position: relative;
    right:01px;
    bottom: 1px;
    background:white;
    height: 500px;
    
}
.kip1{
    
    display: block;
	position: relative;
	bottom: 1px;
	right: 6px;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	

}

/*.timeline:before{left:-15px;}

.timeline>li{margin-bottom:30px;min-height:100px; line-height: 3px;}
.timeline>li .timeline-panel{width:70%;float:right;padding:0 0px 0px 0px;text-align:left;line-height: 3px;}
.timeline>li .timeline-image{left:-40px;
	margin-left:0;
	width:50px;
	height:50px;
	position:absolute;
	z-index:100;
	background-color:#fed136;
	color:#fff;
	border-radius:100%;
	border:4px solid #f1f1f1;
	text-align:center}
.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:40px}






 



body{
	line-height: 15px;
}

.social{
	width: 200px;
	position: relative;
	right: 39px;
	padding-top: 30px;
}*/

.change2{
	border: 0px;
    line-height: 3px;
    font-size: 10px;
    padding-left: 0px;
    margin-left: 0px;
    width: 100px;
    position: relative;
    
    left: -0px;
}
.change1{
	float: left;
	border: 0px;
    line-height: 3px;
    font-size: 10px;
    padding-left: 0px;
    margin-left: 0px;
    width: 150px;
    position: relative;
    left: -20px;
}

.timeline-body1{
    width: 200px;
    position: absolute;
    right: 33px;
    font-size: 10px;
}
.timeline-body2{
    width: 200px;
    position: absolute;
    right: -220px;
    
}

.change12{
    position: relative;
    right: 180px;
    
    font-size: 15px;
    text-transform: none;
    text-align: left;
}

.copy{
	width: 200px;
	line-height: 5px;

}



.hover08 figure img{
    height: 30px;
    width:  30px;
    border-radius: 50%;
}


#soth1,
#soth2,
#soth3,
#soth4,
#soth5,
#soth6,
#soth7,
#soth12{
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    width: 70px;
    
}

.projects{
    padding-top: 20px;
}
.projay{
    padding-top: 10px;
   
}

h1 span{
	position: relative;
	top: 150px;

}
}





