

@media screen and (max-width: 320px) {
    .intro-content h1 > span:first-child {
	font-weight: 300;
	font-size: 50%;
}

	.intro-content h1 > span:nth-child(2) {
	position: relative;
	
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 50%;
}


	.sth{
    position: relative;
    left:-280px;
    background-color:#47a3da ;
    height: 500px;
    
    
}
	.sth1{
    
    position: relative;
    right:203px;
    bottom: 2px;
    background:white;
    height: 500px;
    
}
.kip1{
    
    display: block;
	position: relative;
	bottom: 6px;
	right: 6px;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	

}

.timeline:before{left:-15px;}

.timeline>li{margin-bottom:30px;min-height:100px; line-height: 3px;}
.timeline>li .timeline-panel{width:70%;float:right;padding:0 0px 0px 0px;text-align:left;line-height: 3px;}
.timeline>li .timeline-image{left:-40px;
	margin-left:0;
	width:50px;
	height:50px;
	position:absolute;
	z-index:100;
	background-color:#fed136;
	color:#fff;
	border-radius:100%;
	border:4px solid #f1f1f1;
	text-align:center}
.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:40px}


.timeline-body1{
    width: 200px;
    position: absolute;
    right: -21px;
    font-size: 10px;
}
.change2{
	border: 0px;
    line-height: 3px;
    font-size: 10px;
    padding-left: 0px;
    margin-left: 0px;
    width: 300px;
}


}